In [1]:
import sys

import pandas as pd

from model.repository.open_meteo_repository import OpenMeteoRepository

sys.path.append("../../")  # Remontez au niveau approprié
from model.services.open_meteo_service import OpenMeteoService

# Exploration et analyse des données - Time Series (ML II)

In [2]:
openmeteo = OpenMeteoService()
hourly = openmeteo.get_meteo()
hourly.head()

                 time  temperature_2m
0 2023-01-01 00:00:00         15.3085
1 2023-01-01 01:00:00         15.7085
2 2023-01-01 02:00:00         15.7585
3 2023-01-01 03:00:00         15.8585
4 2023-01-01 04:00:00         15.8085

In [6]:
import os

op_repository = OpenMeteoRepository()

if not os.path.exists('../data/meteo_data.db'):
    op_repository.insert_raw_data(hourly)

In [13]:
df_row = pd.DataFrame(
    op_repository.find_all_by_table('row'),
    columns=['id', 'ds', 'y']  # adapte selon ta table
).drop(columns=['id'])
df_row.head()

                    ds        y
0  2023-01-01T00:00:00  15.3085
1  2023-01-01T01:00:00  15.7085
2  2023-01-01T02:00:00  15.7585
3  2023-01-01T03:00:00  15.8585
4  2023-01-01T04:00:00  15.8085